html, body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #1B1924;
    color: #FFFDF8;
    user-select: none;
}

h2, h4{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
 h4{
    font-size: 20px;
    margin: 5px;
   
 }

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    
 
}

img {
    width: 150px;
    margin: 0 auto;
}

textarea {
    color: #fff7f7;
    background-color: #444059;
    resize: none;
    width: 340px;
    height: 118px;
    padding: 5px;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    margin: 10px 0;    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
  }

  #secondary-inputs {
    display: flex;
    height: 40px;
    margin: 10px 0;
    justify-content: space-between;
  }

  #from, #to {
    width: 135px; 
    margin: 0 5px;
    padding: 17px;
    border-radius: 8px;
    background: #444059;
    color: #f0ecec;
    font-size: 15px;
    border: 0;

  }

button {
    color: #FDFDFD;
    background-color: #c25e68;
    border: 0;
    padding: 15px;
    margin: 5px;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width: 347px;
}

#add-button{
    text-align: center;
}

button:hover{
    background-color: #ff6f87;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;
    width: 317px;
    max-width: 320px;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style-type: none;

}

li {
    display: inline-block;
    background-color: #FFFDF8;
    color: #474545;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
    border: 0;
    padding: 15px;
    margin: 5px;
    border-radius: 8px;
    flex-grow: 1;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    width: 315px;
    height:auto;
    overflow:hidden;
    word-wrap:break-word;
}

li:hover {
    background-color: #7f729b;
    color: #f1f1f1;
    cursor: pointer;
}

#error-message{
    color: rgb(21, 75, 252); 
    font-weight: bold; 
    margin: 0 auto; 
    font-size: 20px;
    padding: 5px;
}

.social-icons a i {
    font-size: 30px; 
    color: #f1f1f1;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }

  .social-icons a {
    margin: 0 10px; 
    padding: 10px; 
  }

  .social-icons a i:hover {
    color: #6f91ff;
  }
